{% extends 'app/base.html' %}
{% load static %} 


{% block content %}

<content>
    <div class="container-xxl">
      <h4>Лучший выбор только для вас</h4><br>
      <div class="row books">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">

                {% for b in books %}
                <div class="col-2">
                  <div class="card card-book"
                    style="width: 190px; height: 265px; background: linear-gradient(90deg, #EDEDED 0%, #FBFAFB 2.45%, #DDDBDC 5.66%, #FCFCFC 6.38%, #E9E9E9 7.29%, #EFEFEF 100%);">
                    <div class="card-body">
                      <h5 class="card-title">{{ b.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">____</h6>
                      <p class="card-text">{{ b.author }}</p>
                      <a href="#" class="card-link"></a>
                      <a href="#" class="card-link"></a>
                    </div>
                  </div>
                </div>
                {% endfor %}
  
                
  
              </div>
  
  
            </div>
  
            <div class="carousel-item">
              <div class="row">
  
                {% for b in books %}
                <div class="col-2">
                  <div class="card card-book"
                    style="width: 190px; height: 265px; background: linear-gradient(90deg, #EDEDED 0%, #FBFAFB 2.45%, #DDDBDC 5.66%, #FCFCFC 6.38%, #E9E9E9 7.29%, #EFEFEF 100%);">
                    <div class="card-body">
                      <h5 class="card-title">{{ b.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">____</h6>
                      <p class="card-text">{{ b.author }}</p>
                      <a href="#" class="card-link"></a>
                      <a href="#" class="card-link"></a>
                    </div>
                  </div>
                </div>
                {% endfor %}
  
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  
      </div>
  
    </div>



    <div class="container-xxl">
      <br>
      <h4>Топ 12 из жанра научной фантастики</h4><br>
      <div class="row books">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
  
                {% for b in top %}
                <div class="col-2">
                  <div class="card card-book"
                    style="width: 190px; height: 265px; background: linear-gradient(90deg, #EDEDED 0%, #FBFAFB 2.45%, #DDDBDC 5.66%, #FCFCFC 6.38%, #E9E9E9 7.29%, #EFEFEF 100%);">
                    <div class="card-body">
                      <h5 class="card-title">{{ b.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">____</h6>
                      <p class="card-text">{{ b.author }}</p>
                      <a href="#" class="card-link"></a>
                      <a href="#" class="card-link"></a>
                    </div>
                  </div>
                </div>
                {% endfor %}
  
                
  
              </div>
  
  
            </div>
  
            <div class="carousel-item">
              <div class="row">
  
               {% for b in top %}
                <div class="col-2">
                  <div class="card card-book"
                    style="width: 190px; height: 265px; background: linear-gradient(90deg, #EDEDED 0%, #FBFAFB 2.45%, #DDDBDC 5.66%, #FCFCFC 6.38%, #E9E9E9 7.29%, #EFEFEF 100%);">
                    <div class="card-body">
                      <h5 class="card-title">{{ b.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">____</h6>
                      <p class="card-text">{{ b.author }}</p>
                      <a href="#" class="card-link"></a>
                      <a href="#" class="card-link"></a>
                    </div>
                  </div>
                </div>
                {% endfor %}
  
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  
      </div>
  
    </div>


    <div class="container-xxl">
      <br>
      <h4>Бестселлеры за октябрь 2021</h4><br>
      <div class="row books">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
  
                {% for b in month %}
                <div class="col-2">
                  <div class="card card-book"
                    style="width: 190px; height: 265px; background: linear-gradient(90deg, #EDEDED 0%, #FBFAFB 2.45%, #DDDBDC 5.66%, #FCFCFC 6.38%, #E9E9E9 7.29%, #EFEFEF 100%);">
                    <div class="card-body">
                      <h5 class="card-title">{{ b.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">____</h6>
                      <p class="card-text">{{ b.author }}</p>
                      <a href="#" class="card-link"></a>
                      <a href="#" class="card-link"></a>
                    </div>
                  </div>
                </div>
                {% endfor %}
  
                
  
              </div>
  
  
            </div>
  
            <div class="carousel-item">
              <div class="row">
  
                 {% for b in month %}
                <div class="col-2">
                  <div class="card card-book"
                    style="width: 190px; height: 265px; background: linear-gradient(90deg, #EDEDED 0%, #FBFAFB 2.45%, #DDDBDC 5.66%, #FCFCFC 6.38%, #E9E9E9 7.29%, #EFEFEF 100%);">
                    <div class="card-body">
                      <h5 class="card-title">{{ b.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">____</h6>
                      <p class="card-text">{{ b.author }}</p>
                      <a href="#" class="card-link"></a>
                      <a href="#" class="card-link"></a>
                    </div>
                  </div>
                </div>
                {% endfor %}
  
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  
      </div>
  
    </div>

  </content>



{% endblock %}

