# Ignore the node_modules directory
/node_modules
/packag-lock.json

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# The file containing environment variables 
.env
/env

/bin
gunicorn_config.py
/knigi/settings.py


# Ignore IDE specific files
.idea/
.vscode/
*.sw*

static/

.py[cod]

pycache/
.pyc
*.pyc

db.sqlite3
